<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="email" placeholder="enter email" v-model="email">
        <input type="password" placeholder="enter password" v-model="password">
        <button @click="getData()">click me</button>
     </div>
     <script src="https://unpkg.com/vue@3.0.2"></script>
     <script>
         var app = Vue.createApp({
            data(){
                return{
                     email:null,
                     password:null
                }
            },
            methods:{
                getData (){
                    console.log(this.email,this.password)
                }
            }
         })
         app.mount('#app')
     </script>
</body>
</html>